#contact h2 {
  position: relative;
  font-size: 32px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  padding-bottom: 10px;
}

#contact h2::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 200px;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    #fff,
    hsla(0, 0%, 100%, 0)
  );
  opacity: 0.75;
}

.text-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.contact-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-contents {
  color: white;
  display: block;
  min-width: 300px;
  width: 100%;
  margin: 10px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 5px;
  font-size: medium;
}

.form-message {
  min-height: 200px;
}

:focus {
  outline: none;
}

::placeholder {
  color: rgba(255, 255, 255, 0.507);
}

.contact-submit-button {
  color: white;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid white;
}

.contact-submit-button:hover {
  color: rgb(102, 102, 102);
  background: white;
  transition: 0.5s;
}
