#navbar {
  transition: all 0.8s;
}

ul {
  list-style: none;
}

.navbar-items > ul {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.navbar-items > ul > li > a {
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  letter-spacing: 1px;
}
