#header {
  height: 100vh;
}

.greeting-container {
  padding: 50px;
  text-align: left;
}

.greeting-text > h1 {
  font-weight: 400;
  letter-spacing: 0.75px;
  padding-left: 1em;
  color: black;
}

.learn-more-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  color: black;
  text-align: center;
}
