#header {
  height: 100vh;
}

.greeting-overlay {
  border: 2px solid red;
}

.greeting-container {
  /* position: absolute; */
  border: 1px solid white;
  padding: 50px;
  text-align: left;
  width: 470px;
}

.greeting-text > h1 {
  font-weight: 400;
  letter-spacing: 0.75px;
  padding-left: 1em;
  color: black;
}

.learn-more-container {
  border: 1px solid green;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  color: black;
  text-align: center;
}
