* {
  box-sizing: border-box;
  background: rgb(102, 102, 102);
  background-size: cover;
  font-family: sans-serif;
}

body,
html {
  /* font-family: sans-serif; */
  font-weight: 400;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.overlay {
  padding: 0.5em;
}
