/* @media screen and (max-width: 400px) {
  #projects {
    width: 111%;
  }
} */

* {
  box-sizing: border-box;
  background: rgb(102, 102, 102);
  background-size: cover;
  font-family: sans-serif;
}

body,
html {
  display: block;
  /* font-family: sans-serif; */
  font-weight: 400;
  /* width: 100% !important; */
  /* height: 100% !important; */
}

.overlay {
  padding: 0.5em;
}
